{% extends "../admin-dashboard.html" %}
{% block title %}Role Details{% endblock title %}
{% block admin_content %}
<div class="flex flex-row gap-4 p-4">
    {% for group in groups %}
            <div class="hover:bg-slate-700/50 bg-slate-800/50 backdrop-blur-lg p-4 rounded-xl border border-slate-700/40 text-slate-100 transition-colors cursor-pointer">
                <div class="flex flex-col justify-center">
                <p class="font-bold text-2xl text-slate-100">{{group.name}}</p><br>
                <p class="font-bold my-2 text-slate-300">Permissions:</p>
                <ul class="list-disc list-inside text-slate-300 my-2 ">
                    {% for permission in group.permissions.all %}
                        <li class="my-2"><span class="text-white">{{ permission.name }}</span> |<span class="bg-slate-700/50 px-2 py-1 rounded-md mx-2">{{ permission.codename }}</span></li>
                    {% empty %}
                        <li><span class="text-white">No permissions assigned</span></li>
                    {% endfor %}
                </ul>
                </div>

            </div>
    {% endfor %}
</div>  
{% endblock %}