{% extends "../organizer-dashboard.html" %}
{% block title %}Manage Events{% endblock title %}
{% block organizer_content %}
<div class="w-full flex flex-col justify-start p-4">
    <div class="flex p-4 gap-4">
        <input id="search-input" type="text" name="search" placeholder="Search by event name" class="flex-1 bg-slate-700/50 text-slate-100 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
        <a href="{% url 'event_form' user.id %}" class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-md font-semibold transition">Create Event</a>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
        <div class="col-span-full flex justify-center items-center hover:bg-slate-700/50 bg-slate-800/50 backdrop-blur-lg p-4 rounded-xl border border-slate-700/40 text-slate-100 transition-colors cursor-pointer">
            <p id="total_managed_events" class="font-bold text-center text-2xl text-slate-100">Total Events: {{ events|length }}</p>
        </div>
        {% comment %} <div> {% endcomment %}
        <div class="col-span-full gap-3 flex justify-center items-center bg-slate-800/50 backdrop-blur-lg p-4 rounded-xl border border-slate-700/40 text-slate-100">
        {% for event in events %}
        <a href="{% url 'event-details' event.id %}" >
            <div class="flex flex-col  bg-slate-800/50 backdrop-blur-lg p-4 rounded-xl border border-slate-700/40 text-slate-100 hover:bg-slate-700/50 transition-colors">
                {% if event.image %}
                <img src="{{ event.image.url }}" alt="{{ event.name }}" class="w-full h-40 object-cover rounded-lg mb-4 border border-slate-700/40">
                {% else %}
                <div class="w-full h-40 bg-slate-700/50 flex items-center justify-center rounded-lg mb-4 border border-slate-700/40">
                    <span class="text-slate-300">No Image Available</span>
                </div>
                {% endif %}
                <h2 class="text-xl font-bold mb-2">{{ event.name }}</h2>
                    <p class="text-sm text-slate-300 mb-1"><strong>Date:</strong> {{ event.date }}</p>
                    <p class="text-sm text-slate-300 mb-1"><strong>Time:</strong> {{ event.time }}</p>
                    <p class="text-sm text-slate-300 mb-1"><strong>Location:</strong> {{ event.location }}</p>
                    <p class="text-sm text-slate-300"><strong>Participants:</strong> {{ event.rsvp.count }}</p>
                    <div>
                        <a href="{% url 'edit-event' event.id %}?next={% url 'manage-events' user.id %}" class="mt-3 inline-block bg-gradient-to-r from-yellow-500/70 to-orange-500/70 hover:from-yellow-600/90 hover:to-orange-600/90 backdrop-blur-sm text-white font-bold rounded-full py-2 px-4 text-center transition-all duration-200 shadow-lg">Edit</a>
                        <a href="{% url 'delete-event' event.id %}" class="mt-3 inline-block bg-gradient-to-r from-red-500/70 to-pink-500/70 hover:from-red-600/90 hover:to-pink-600/90 backdrop-blur-sm text-white font-bold rounded-full py-2 px-4 text-center transition-all duration-200 shadow-lg">Delete</a>
                    </div>
                    
            </div>
        </a>
        {% empty %}
            <p class="font-bold text-center text-2xl text-slate-100">No events found. Create your first event!</p>
            {% endfor %}
        </div>
        {% comment %} <div> {% endcomment %}
    </div>
</div>
{% endblock %}
