SECRET_KEY=your_key_here
DEBUG=True 

# For Local Database
DB_ENGINE=django.db.backends.postgresql 
DB_NAME=
USER_N=postgres 
PASSWORD=
HOST=localhost 
PORT=

# For Render
DB_ETENDED_LINK=postgresql://event_manager_db_bzh9_user:cUWqV9lQbRyZuRrTBuGIfubdM6yz8ZrZ@dpg-d6bnuf3h46gs7395ousg-a.oregon-postgres.render.com/event_manager_db_bzh9


# for mail
HOST_USER=
PASSWORD=

# Internal IP
# for debug tool
DEBUG_IP=127.0.0.1


FRONTEND_URL=http://127.0.0.1:8000 