{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1 class="p-5"> WELCOME URAURARUARUARUARUARU </h1>
    {% if user.is_authenticated %}
        <div>
            <a href={% url "sign-up" %} class="bg-blue-500 p-5 mb-5 cursor-pointer"> LOG OUT </a>
        </div>
    {% else %}
        <h1> BRUUHH </h1>
        <a href={% url "sign-in" %}>    
            <div class="bg-blue-500 p-5 cursor-pointer">
                LOG IN 
            </div>
        </a>
        <a href={% url "sign-up" %}>
            <div class="bg-blue-500 p-5 cursor-pointer"> 
                Register
            </div>
        </a>
        
    {% endif %}
{% endblock %}