{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Event Management{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>
        </style>
    </head>
    <body class="mx-auto bg-gradient-to-br from-slate-950 via-slate-900 to-slate-950 text-white">
        
        {% include "navbar.html" %}

        {% if messages %}
        <ul class="messages col-span-2 text-center mb-4">
            {% for message in messages %}
            <li class=" text-white 
            {% if message.tags == "error" %}p-4 bg-red-600/50 backdrop-blur-lg border border-red-400/40 rounded-lg{% endif %}
            {% if message.tags == "success" %}p-4 bg-green-600/50 backdrop-blur-lg border border-green-400/40 rounded-lg{% endif %}
            {% if message.tags == "info" %}p-4 bg-slate-800/70 backdrop-blur-lg border border-slate-700/40 rounded-lg{% endif %}">
            {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="md:w-full min-h-dvh  justify-self-center px-5 h-auto mx-auto">
        {% block content %}
        {% endblock content %}
        </div>

        <div class="bg-slate-900/60 backdrop-blur-lg d-flex m-4 p-4 shadow-lg rounded-xl border border-slate-700/40 text-slate-300">
            <p>&copy; 2024 Event Management</p>
        </div>

        {% comment %} Simple button reveal JS {% endcomment %}
        <script>
            const mobileMenuButton = document.getElementById('mobile-menu-button');
            const mobileNav = document.getElementById('mobile-nav');

            mobileMenuButton.addEventListener('click', (e) => {
                e.stopPropagation(); // IMPORTANT
                mobileNav.classList.toggle('hidden');
            });

            mobileNav.addEventListener('click', (e) => {
                e.stopPropagation();
            });

            window.addEventListener('click', () => {
                if (!mobileNav.classList.contains('hidden')) {
                    mobileNav.classList.add('hidden');
                }
            });

            {% block script %}
            {% endblock script %}
        </script>
    </body>
</html>