{% extends "template.html" %}
{% block content %}
    <div class="">
        <div>
            <h1 class="text-3xl font-bold mb-4"> {{ event.name }} </h1>
            <p><strong>Category:</strong> <span class="ml-2 bg-blue-500 p-2 rounded-full text-white">{{ event.category.name }}</span></p>
        </div>
        <div>
            <div class="grid md:grid-cols-1 lg:grid-cols-3 gap-4">
                <div class="col-span-3 mt-4">
                    {% if event.image %}
                        <img src="{{ event.image.url }}" alt="{{ event.title }}" class="w-full h-auto rounded-lg">
                    {% else %}
                        <div class="w-full h-60 bg-gray-200 flex items-center justify-center rounded-lg">
                            <span class="text-gray-500">No Image Available</span>
                        </div>
                    {% endif %}
                </div>
                <div class="col-span-2 bg-blue-200 p-4 rounded-lg">
                    <h1 class="text-2xl font-bold mb-2">Event Details</h1>
                    <p class="mb-2">{{ event.description }}</p>
                </div>
                <div class=" bg-blue-200 p-4 rounded-lg">
                    <h2 class="text-xl font-bold mb-2">Event Information</h2>
                    <div class="font-bold">Date:</div><div class="text-4xl mb-4">{{ event.date }}</div>
                    <div class="font-bold">Time:</div><div class="text-4xl mb-4">{{ event.time }}</div>
                    <div class="font-bold">Location:</div><div class="text-4xl mb-4">{{ event.location }}</div>
                </div>
            </div>
            <div class="mt-6  bg-blue-200 p-4 rounded-lg">
                <div class=" flex justify-between mb-4 p-3">   
                    <h1 class="text-3xl font-bold"> Participants </h1>
                    <div class="flex bg-blue-500 p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>

                        <p class=" text-white">  {{ event.participants.count }} Persons</p>
                    </div>
                </div>
                {% for participant in event.participants.all %}
                    <span class="inline-block bg-blue-600 text-white px-3 py-1 rounded-full mr-2 mb-2">{{ participant.name }}</span>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}