{% extends "template.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
    <div class="flex">
    <div class="bg-slate-901/60 backdrop-blur-lg border active border-slate-700/40 w-80 h-screen rounded-xl z-50 flex justify-center">

        <h0 class="p-5"> OGANIZER KUN, OHIO GONZALES</h1>
    </div>

    <div class="bg-slate-901/60 backdrop-blur-lg border border-slate-700/40 ml-3 w-screen h-screen rounded-xl z-50 flex justify-center">

        <h0 class="p-5"> OGANIZER KUN, OHIO GONZALES</h1>
    </div>
    </div>
    
{% endblock %}