{% extends "dashboards/base-dashboard.html" %}
{% block title %}User Dashboard{% endblock title %}

{% block sidebar_links %}
<a href="{% url 'usr-view-rsvps' request.user.id %}" class="py-3 px-4 hover:bg-slate-700/50 text-lg border-b border-slate-700/40 text-slate-100 hover:text-blue-100 rounded-md transition-all">View RSVPs</a>

<h1 class="text-2xl font-bold mt-10 mb-4 text-slate-100 text-center bg-slate-800/50 p-2 rounded-md">Navigation</h1>
<a href="{% url 'dashboard'%}" class="py-3 px-4 hover:bg-slate-700/50 text-lg border-b border-slate-700/40 text-slate-100 hover:text-blue-100 rounded-md transition-all">Back to event Dashboard</a>
<a href="{% url 'home' %}" class="py-3 px-4 hover:bg-slate-700/50 text-lg border-b border-slate-700/40 text-slate-100 hover:text-blue-100 rounded-md transition-all">Back to Home</a>
<a href="{% url 'sign-out' %}" class="py-3 px-4 hover:bg-slate-700/50 text-lg border-b border-slate-700/40 text-slate-100 hover:text-blue-100 rounded-md transition-all">Logout</a>
{% endblock sidebar_links %}

{% block dashboard_title %}Welcome to the User Dashboard{% endblock dashboard_title %}
{% block dashboard_description %}Use the sidebar to navigate through different sections of the dashboard.{% endblock dashboard_description %}

{% block dashboard_content %}
    {% block user_content %}
    <div class="flex flex-col justify-center items-center p-4">
        <h1 class="text-3xl font-bold text-slate-100 mb-4">Welcome to the User Dashboard</h1>
        <p class="text-slate-300 text-lg">Use the sidebar to navigate through different sections of the dashboard.</p>
    </div>
    {% endblock user_content %}
{% endblock dashboard_content %}